.category_product_card {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.category_product_card_img_wrapper {
    border-radius: 5px;
    height: 248px;
    overflow: hidden;
    position: relative;
}

.category_product_card h6 {
    margin-top: 16px;
    font-size: 20px;
    color: #00313D;
}

.category_product_card p {
    font-size: 14px;
    color: #626262;
}

.category_product_card_nav p {
    color: #00313D;
    font-weight: bold;
}

.category_product_card_nav button {
    background: none;
    border: none;
    outline: none !important;
}

.category_product_card_img {
    width: min-content;
    border-radius: 5px;
    transition: .3s;
}

.category_product_card_img_wrapper:hover .category_product_card_img {
    border-radius: 5px;
    transform: scale(1.1);
}

.category_product_card_img_buy {
    position: absolute;
    height: 50px;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    z-index: 0;
    opacity: 0;
    font-family: Poppins, sans-serif;
    letter-spacing: 2px;
    transition: .3s;
}

.category_product_card_img_wrapper:hover .category_product_card_img_buy {
    z-index: 1;
    opacity: 1;
}

@media (max-width: 1024px) {
    .category_product_card {
        background: rgba(255, 255, 255, 0.3);
    }

    .category_product_card_img_wrapper {
        height: 135px;
    }

    .category_product_card h6 {
        margin: 0;
        padding-left: 10px;
        font-size: 17px;
    }

    .category_product_card p {
        margin-top: 0;
        padding-left: 10px;
    }

    .category_product_card_nav button {
        width: 30px;
        height: 30px;
    }

    .category_product_card_img_buy {
        height: 30px;
    }
}

@media (max-width: 767px) {
    .category_product_card_img_wrapper {
        height: 145px;
    }

    .category_product_card {
        background: none;
    }

    .category_product_card h6 {
        font-size: 14px;
        padding-left: 0;

    }

    .category_product_card p {
        font-size: 12px;
        padding-left: 0;
    }

    .category_product_card_nav button {
        width: 25px;
        height: 25px;
    }

    .category_product_card_img_buy {
        height: 25px;
        font-size: 14px;
    }
}