.cabinet_navbar_wrapper {
    height: 100%;
    margin-right: 92px;
}

@media (max-width: 1024px) {
    .cabinet_navbar_wrapper {
        margin-right: 0;
    }

    .cabinet_pages_wrapper {
        margin-bottom: 89px;
    }
}

@media (max-width: 767px) {
    .cabinet_pages_wrapper {
        margin-bottom: 0;
    }
}