.cabinet_navbar {
    background: #264753;
    padding: 44px 0;
    position: fixed;
    z-index: 3;
}

.navigation_column {
    width: 92px;
    height: 100vh;
}

.cabinet_navbar a {
    text-decoration: none;
}

.navigation_column_btn, .navigation_column_more_btn {
    border: none;
    background: none;
    outline: none !important;
    color: white;
    padding: 16px 22px;
    transition: .3s;
}

.navigation_column_btn i {
    width: 30px;
    transition: .3s;
}

.navigation_column_btn p {
    display: none;
    text-align: start;
    margin-left: 30px;
    font-size: 21px;
}

.navigation_column_logo {
    width: 49px;
    margin-bottom: 150px;
    transition: .3s;
    margin-left: 22px;
}

.navigation_column_logo:hover {
    transform: scale(1.5);
}

@media (min-width: 1024px) {
    .cabinet_navbar:hover {
        width: 304px;
    }

    .cabinet_navbar:hover .navigation_column {
        width: 100%;
        align-items: start !important;
    }

    .cabinet_navbar:hover .navigation_column_btn p {
        width: 100%;
        display: block;
    }

    .navigation_column_btn:hover {
        background: #009589;
    }

    .navigation_column_btn:hover i {
        transform: rotate(20deg);
    }

    .navigation_row {
        display: none !important;
    }
}


@media (max-width: 1024px) {
    .navigation_column {
        display: none !important;
    }

    .navigation_row {
        width: 100vw;
        height: 89px;
        position: fixed;
        bottom: 0;
        display: flex !important;
        background: #264753;
    }

    .navigation_row button {
        width: 75px;
        height: 75px;
        color: white;
        background: none;
        border: none;
        outline: none !important;
        margin: 0 15px;
        padding: 0;
    }
}

@media (max-width: 767px) {
    .navigation_row {
        height: 78px;
    }

    .cabinet_navbar {
        z-index: 2;
    }
}