.forgot_password_page_wrapper {
    width: 100%;
    height: 727px;
    background: url("../../images/sign_in_background_image.png");
    background-size: cover;
}

.forgot_password_page {
    width: 100%;
    height: 92%;
    backdrop-filter: blur(37px);
    background: rgba(255, 255, 255, 0.1);
    padding: 45px 115px 103px 67px;
}

.forgot_password_page h1 {
    font-size: 50px;
}

.forgot_password_page h2 {
    font-size: 35px;
}

.forgot_password_page p {
    margin-top: 19px;
    font-size: 25px;
}

.forgot_password_email {
    width: 41%;
    height: 53px;
    padding: 13px 25px;
    margin-top: 1%;
    border-radius: 32px;
    outline: none;
    border: none;
}

.forgot_password_btn {
    width: 41%;
    height: 53px;
    border: solid #ffffff;
    border-radius: 32px;
    outline: none !important;
    font-size: 20px;
    transition: .3s;
    margin-top: 15px;
    background: none;
    padding: 0;
}

.forgot_password_btn a {
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

.forgot_password_btn a:hover {
    text-decoration: none;
}

@media (max-width: 1024px) {
    .forgot_password_page_wrapper {
        height: 700px;
    }

    .forgot_password_page {
        border-radius: 12px;
    }

    .forgot_password_page {
        padding: 45px 105px 64px 36px;
    }

    .forgot_password_page h1 {
        font-size: 26px;
    }

    .forgot_password_page h2 {
        font-size: 22px;
    }

    .forgot_password_page p {
        margin-top: 27px;
        font-size: 20px;
    }

    .forgot_password_btn, .forgot_password_email {
        width: 49%;
    }
}

@media (max-width: 767px) {
    .forgot_password_page_wrapper {
        height: 487px;
    }

    .forgot_password_page {
        border-radius: 12px;
    }

    .forgot_password_page {
        padding: 36px 42px 62px 28px;
    }

    .forgot_password_page h1 {
        font-size: 20px;
    }

    .forgot_password_page h2 {
        font-size: 16px;
    }

    .forgot_password_page p {
        margin-top: 12px;
        font-size: 14px;
    }

    .forgot_password_btn, .forgot_password_email {
        width: 75%;
        height: 36px;
        font-size: 12px;
    }
}