.nav {
    background: #00313d;
    height: 111px;
}

.logo_wrapper {
    width: 10%;
}

@media (max-width: 1350px) {
    .logo_wrapper {
        width: 7%;
    }

}

@media (max-width: 1100px) {
    .logo_wrapper {
        width: 5%;
    }

    .logo_wrapper img {
        width: 120%;
    }
}

@media (max-width: 1024px) {
    .nav {
        height: 92px;
    }
}

@media (max-width: 767px) {
    .nav {
        height: 38px;
    }

    .logo_wrapper {
        width: 20%;
    }

    .logo_wrapper img {
        width: 40%;
    }
}

@media (max-width: 550px) {
    .logo_wrapper {
        width: 20%;
    }

    .logo_wrapper img {
        width: 70%;
    }

    .logo_wrapper img {
        width: 50%;
    }
}