.mobile_chat_page_wrapper {
    display: none;
}

@media (max-width: 767px) {
    .mobile_chat_page_wrapper {
        padding: 12px 12px 20px 12px;
        background: #E3FFED;
        height: calc(100vh - 100px);
        display: block;
    }

    .mobile_chat_page_body {
        width: 100%;
        height: calc(100vh - 100px);
        background: url("../../images/chat_bg.png") no-repeat;
        background-size: cover;
        border-radius: 6px;

    }

    .mobile_chat_page_body_blur {
        backdrop-filter: blur(10px) brightness(70%);
        padding: 5px;
        border-radius: 6px;
    }

    .messages_wrapper {
        width: 100%;
        height: 93%;
        padding-bottom: 40px;
        overflow-y: scroll;

    }

    .messages_wrapper::-webkit-scrollbar {
        display: none;
    }

    .partner_message_item {
        margin-bottom: 33px;
    }

    .partner_message_avatar, .my_message_avatar {
        min-width: 32px;
        max-width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
        display: block;
    }

    .partner_message_text {
        max-width: 70%;
        width: max-content;
        min-width: min-content;
        padding: 8px;
        background: #BFFFD6;
        border-radius: 4px;
        font-size: 10px;
        font-weight: 650;
        margin: 5px 0 0 10px;
    }

    .message_texts_wrapper {
        width: calc(100% - 61px);
    }

    .my_message_text {
        max-width: 70%;
        width: max-content;
        min-width: min-content;
        padding: 8px;
        background: #009589;
        border-radius: 4px;
        font-size: 10px;
        font-weight: 650;
        margin: 5px 10px 0 0;
        color: white;
    }

    .partner_message_date {
        font-size: 10px;
        color: #B5B5B5;
        font-weight: 600;
        margin-left: 61px;
    }

    .my_message_date {
        font-size: 10px;
        color: #B5B5B5;
        font-weight: 600;
        margin-right: 75px;
        float: right;
    }

    .message_input_wrapper {
        width: 100%;
        height: 45px;
        background: #BFFFD6;
        border-radius: 6px;
        padding: 0 14px 0 16px;
    }

    .message_input_wrapper button {
        border: none;
        background: none;
        padding: 0;
        outline: none !important;
        margin-right: 13px;
    }

    .message_input_wrapper input {
        background: none;
        border: none;
        font-size: 17px;
        font-weight: 600;
        outline: none !important;
    }
}