.sign_up_page_wrapper {
    width: 100%;
    height: 727px;
    background: url("../../images/sign_in_background_image.png");
    background-size: cover;
}

.sign_up_page {
    width: 100%;
    height: 92%;
    backdrop-filter: blur(37px);
    background: rgba(255, 255, 255, 0.1);
    padding: 29px 87px 44px 100px;
}

.sign_up_form_wrapper {
    width: 40%;
}

.sign_up_form_wrapper h1, .sign_up_welcome h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.sign_up_welcome {
    width: 41%;
}

.sign_up_form_wrapper form {
    margin-top: 19px;
}

.sign_up_form_wrapper form input {
    margin-top: 18px;
    height: 46px;
    border: none;
    outline: none !important;
    padding: 11px 22px;
    border-radius: 32px;
}

.sign_up_form_wrapper form button {
    height: 46px;
    border: solid #ffffff;
    background: none;
    outline: none !important;
    border-radius: 32px;
    margin-top: 56px;
}

.sign_up_form_wrapper form p {
    margin-top: 21px;
}

.sign_up_welcome_btn {
    width: 56%;
    height: 57px;
    outline: none !important;
    border: none;
    background: #ffffff;
    color: #00313D;
    border-radius: 29px;
    font-size: 21px;
    font-weight: bold;
    padding: 0;
}

.visible_sm {
    display: none !important;
}

.sign_up_welcome_btn a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00313D;
}

.sign_up_welcome_btn a:hover, .sign_up_form_wrapper form button a:hover {
    text-decoration: none !important;
}

.sign_up_form_wrapper form button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

@media (max-width: 1300px) {
    .sign_up_welcome {
        width: 45%;
    }
}

@media (max-width: 1200px) {
    .sign_up_welcome {
        width: 55%;
    }
}

@media (max-width: 1024px) {
    .sign_up_page {
        border-radius: 12px;
        padding: 47px 33px 40px 23px;
    }

    .sign_up_form_wrapper {
        width: 45%;
    }

    .sign_up_welcome {
        width: 55%;
    }

    .sign_up_welcome_btn {
        height: 34px;
    }

    .sign_up_welcome h1 {
        font-size: 31px;
    }

    .sign_up_welcome img {
        width: 90%;
    }

    .sign_up_form_wrapper h1 {
        font-size: 22px !important;
    }

    .sign_up_form_wrapper form input {
        height: 36px;
    }

    .sign_up_form_wrapper form button {
        height: 44px;
    }
}

@media (max-width: 767px) {
    .sign_up_page_wrapper {
        height: 850px;
    }

    .visible_lg {
        display: none !important;
    }

    .visible_sm {
        display: flex !important;
    }

    .sign_up_welcome, .sign_up_form_wrapper {
        width: 100%;
    }

    .sign_up_page {
        flex-wrap: wrap;
        padding: 18px 33px 17px 33px;
    }

    .sign_up_welcome_btn {
        height: 34px;
    }

    .sign_up_welcome h1 {
        font-size: 21px;
    }

    .sign_up_welcome img {
        margin-top: 10px;
        width: 80%;
    }

    .sign_up_form_wrapper h1 {
        font-size: 22px !important;
    }

    .sign_up_form_wrapper form {
        margin-top: 13px;
    }

    .sign_up_form_wrapper form input {
        height: 36px;
        margin-top: 10px;
        font-size: 12px;
    }

    .sign_up_form_wrapper form button {
        margin-top: 21px;
        height: 44px;
    }

    .sign_up_form_wrapper form p {
        font-size: 10px;
    }

    .sign_up_welcome_btn {
        font-size: 10px;
    }
}